PORT=5000
MONGO_URI=mongodb://erandi201326_db_user:fFSj6VXlCH6rOjBJ@ac-osefjvs-shard-00-00.une0vqz.mongodb.net:27017,ac-osefjvs-shard-00-01.une0vqz.mongodb.net:27017,ac-osefjvs-shard-00-02.une0vqz.mongodb.net:27017/TuktukDB?ssl=true&replicaSet=atlas-y2zty8-shard-0&authSource=admin
JWT_SECRET=tuktuk_secret_key_2024